<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HubSpot Test Automation Test">

  <test name="HubSpot Regression">
   <classes>
      
      <class name="com.qa.hubspot.tests.LoginPageTest"/>
       <class name="com.qa.hubspot.tests.HomePageTest"/>
    
      
      </classes>
           
  </test>
  
</suite>